<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>plantilla</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="header">
            <h1>Control Clientes</h1>
        </header>
        
        <footer th:fragment="footer">
            <p>Derechos reservados <a href="#" target="_blank">Wilmer membreno</a></p>
        </footer>
    </body>
</html>
