<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <a th:href="@{/agregar}">Agregar Persona</a>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th th:text="#{persona.nombre}"></th>
                    <th th:text="#{persona.apellido}"></th>
                    <th th:text="#{persona.email}"></th>
                    <th th:text="#{persona.telefono}"></th>
                    <th th:text="#{accion.editar}"></th>
                    <th th:text="#{accion.eliminar}"></th>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Mostrar Nombre</td>
                    <td th:text="${persona.apellido}">Mostrar Apellido</td>
                    <td th:text="${persona.email}">Mostrar Email</td>
                    <td th:text="${persona.telefono}">Mostrar Teléfono</td>
                    <td><a th:href="@{/editar/} + ${persona.idPersona}" th:text="#{accion.editar}" /></td>
                    <td><a th:href="@{/eliminar/} + ${persona.idPersona}" th:text="#{accion.eliminar}" /></td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            <p th:text="#{persona.lista-vacia}"></p>
        </div>
        <header th:replace="layout/plantilla :: footer" />
    </body>
</html>
